<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Planilha de Gastos</title>
        <link rel="stylesheet" href="style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Oxygen:wght@300;400;700&display=swap"
            rel="stylesheet"
        />

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
        />
    </head>
    <body>
        <div class="container">
            <form action="/saldo" method="post">
                <input
                    type="number"
                    name="saldoInicial"
                    class="saldoInicial"
                    readonly
                    placeholder="R$ <%= saldoInicial ? saldoInicial : '0'%>"
                />
                <input
                    type="number"
                    name="saldo"
                    placeholder="R$ <%= saldo ? saldo : '0'%>"
                    class="<%= classeSaldo %> saldo"
                />

                <input
                    type="hidden"
                    name="idUsuario"
                    value="<%= dataRows[0].id %>"
                />
                <input type="submit" value="✅" id="addSaldo" />
            </form>
            <div class="addNaPlanilha">
                <form action="/add" method="post">
                    <input
                        type="hidden"
                        name="idUsuario"
                        value="<%= dataRows[0].id %>"
                    />
                    <input
                        required
                        type="date"
                        name="datadogasto"
                        id="datadogasto"
                        placeholder="Data do Gasto"
                    />
                    <input
                        required
                        type="number"
                        name="valorgasto"
                        id="valorgasto"
                        placeholder="Valor Gasto"
                    />
                    <select name="categoria" id="categoria" required>
                        <option value="Social">Social</option>
                        <option value="Transporte">Transporte</option>
                        <option value="Mensalidade">Mensalidade</option>
                        <option value="Alimentação">Alimentação</option>
                        <option value="Lazer">Lazer</option>
                    </select>
                    <input
                        type="submit"
                        name="btnEnviar"
                        id="btnEnviar"
                        value="Adicionar na Planilha"
                    />
                </form>
            </div>

            <% if (result.rows.length > 0) { %>
            <div class="planilha">
                <table>
                    <thead>
                        <tr>
                            <th>Data do Gasto</th>
                            <th>Valor Gasto</th>
                            <th>Categoria</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( let i = 0; i < result.rows.length; i++ ) { %>
                        <tr class="<%= result.rows[i].categoria %> trDelete">
                            <td><%= datas[i] %></td>
                            <td>R$ <%= result.rows[i].valorgasto %></td>
                            <td><%= result.rows[i].categoria %></td>
                            <td class="tdDelete">
                                <form
                                    class="formDeletar"
                                    action="/delete"
                                    method="post"
                                >
                                    <input
                                        type="hidden"
                                        name="deletado"
                                        value="<%= result.rows[i].id %>"
                                    />
                                    <button class="btnDelete" type="submit">
                                        <i class="bi bi-trash-fill lixeira"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>

                        <% } %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Gastos totais:</td>
                            <td colspan="2"><%= gastoTotal %></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <% } %>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
        ></script>
        <script>
            document.querySelector("#addSaldo").classList.add("hidden");

            document.querySelector(".saldo").addEventListener("focus", () => {
                document.querySelector("#addSaldo").classList.remove("hidden");
            });
        </script>
    </body>
</html>
