<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Rotina</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="container">
            <div class="atividades">
                <% if (data.length > 0) { %> <% for( let i = 0; i < data.length;
                i++ ) { %>
                <h6 class="dataLength"><%=data.length %></h6>
                <li>
                    <h6 class="dataInicio"><%= data[i].inicio%></h6>
                    <h6 class="dataTermino"><%= data[i].termino%></h6>

                    <span
                        >(<%= data[i].inicio %> - <%= data[i].termino %>)</span
                    >
                    <%= data[i].atividade %>
                    <div class="deletarEEditar">
                        <button
                            onclick="mostrarInp('<%=data[i].id%>')"
                            class="showInpEdit<%=data[i].id%>"
                        >
                            ✏️
                        </button>
                        <form
                            class="idEditado<%=data[i].id%> hidden"
                            action="edit"
                            method="post"
                        >
                            <input
                                type="hidden"
                                name="idEditado"
                                id="idEditado"
                                value="<%=data[i].id%>"
                            />
                            <input type="text" name="editado" id="editadoInp" />
                            <input type="submit" value="✅" />
                        </form>
                        <form
                            class="deletarAtividadeForm"
                            action="/delete"
                            method="post"
                        >
                            <input
                                type="hidden"
                                name="idDeletado"
                                id="idDeletado"
                                value="<%= data[i].id%>"
                            />
                            <input type="submit" id="deleteBtn" value="🗑️" />
                        </form>
                    </div>
                </li>

                <% } %> <% } %>
            </div>

            <form class="addAtividadeForm" action="/add" method="post">
                <div class="atividadeInput">
                    <input
                        type="text"
                        name="atividade"
                        id="atividade"
                        placeholder="Atividade"
                    />
                </div>

                <div class="inicioInput">
                    <input type="number" name="horasInicio" id="horasInicio" />
                    <span>:</span>
                    <input
                        type="number"
                        name="minutosInicio"
                        id="minutosInicio"
                    />
                </div>

                <div class="terminoInput">
                    <input
                        type="number"
                        name="horasTermino"
                        id="horasTermino"
                    />
                    <span>:</span>
                    <input
                        type="number"
                        name="minutosTermino"
                        id="minutosTermino"
                    />
                </div>
                <div>
                    <input
                        type="submit"
                        id="btnAddAtividade"
                        value="Adicionar"
                    />
                </div>
            </form>
        </div>

        <script>
            function mostrarInp(idEditado) {
                console.log(idEditado);

                document
                    .querySelector(`.idEditado${idEditado}`)
                    .classList.remove("hidden");

                document
                    .querySelector(`.showInpEdit${idEditado}`)
                    .classList.add("hidden");
            }

            setInterval(() => {
                let horas = `${new Date().getHours()}`;
                let minutos = `${new Date().getMinutes()}`;

                if (minutos.length === 1) {
                    minutos = `0${minutos}`;
                }
                if (horas.length === 1) {
                    horas = `0${horas}`;
                }

                const horario = `${horas}:${minutos}`;

                const dataLength =
                    document.querySelector(".dataLength").textContent;

                for (let i = 0; i < dataLength; i++) {
                    const dataInicio =
                        document.querySelectorAll(".dataInicio")[i].textContent;
                    const dataTermino =
                        document.querySelectorAll(".dataTermino")[i]
                            .textContent;

                    if (horario >= dataInicio && horario < dataTermino) {
                        document
                            .querySelectorAll("li")
                            [i].classList.add("emQuestao");
                    } else {
                        document
                            .querySelectorAll("li")
                            [i].classList.remove("emQuestao");
                    }
                }
            }, 1);
        </script>
    </body>
</html>
